@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lilita+One&family=Open+Sans&family=Urbanist&display=swap");

/* Turners Blue: #1A75BB; 
Turner's Red: #B12137*/

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
